a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  color: $danger;
  text-decoration: none;
}

a[data-toggle="popover"] {
  cursor: pointer;
}

//.table th {
//  border-top: none;
//}

table.table-sortable thead {
  cursor: pointer;
}

.modal-fullscreen .btn-close {
  background-color: $secondary !important;
}
