.pointer {
  cursor: pointer;
}

.text-tiny {
  font-size: 0.7rem;
}

.no-decoration {
  text-decoration: none;
}

.no-decoration:hover {
  text-decoration: none;
}

.no-link-colors {
  color: $white;
}

.no-link-colors:hover {
  color: $white;
}

/* Scroll only modal body */

.modal-dialog {
  overflow-y: initial !important;
}

.modal-xl .modal-body {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

/* Fixed head table */

.tableFixHead {
  overflow-y: auto;
  height: 100px;
}

.tableFixHead thead th {
  position: sticky;
  top: 60px;
}

.table-hover-tr tr:hover td {
  background-color: $gray-800 !important;
}

a.invisible-link {
  text-decoration: none;
  color: inherit;
}

/* Circle buttons */

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}