$font-size-base: 1.05rem;
$font-family-sans-serif: "Noto Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$headings-font-family: 'Oxanium', system-ui;

/* Last update: no-link-colors */

$blue: #267e89;
$red: #af5fb6;
$orange: #f3cd94;
$cyan: #3db7e8;
$green: #6eb35a;
$body-bg-dark: #0E1217;
$body-tertiary-bg-dark: #0E1113;

@import '../vendor/bootstrap/scss/bootstrap.scss';
@import 'generic';
