$font-size-base: 1.05rem;
$font-family-sans-serif: "Noto Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$headings-font-family: 'UnifrakturMaguntia', system-ui;

/* Last update: no-link-colors */

$blue: #267e89;
$red: #c4453c;
$orange: #f3cd94;
$cyan: #2d8e9c;
$green: #6eb35a;

$body-bg-dark: #090909;
$body-tertiary-bg-dark: #0d0d0d;

@import '../vendor/bootstrap/scss/bootstrap.scss';
@import 'generic';


h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h1 a::first-letter,
h2 a::first-letter,
h3 a::first-letter,
h4 a::first-letter {
  color: $danger;
}
