{% extends 'campaigns/fragments/fragment_base.html' %}
{% load i18n rules_extras django_bootstrap5 characters_extras %}

{% block fragment %}
    <div class="table-responsive">
        <table class="table campaign-status-sortable">
            <thead>
            <tr class="pointer">
                <th>{% trans 'Foe' %}</th>
                <th>{% trans 'Wounds' %}</th>
                <th>{% trans 'Protection' %}</th>
                <th>{% trans 'Arcana' %}</th>
                <th>{% trans 'Actions' %}</th>
                <th>{% trans 'Perception' %}</th>
                <th>{% trans 'Walking Range' %}</th>
                <th>{% trans 'Minimum Roll' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for foe in object.foe_set.all %}
                {% with wiki_page=foe.wiki_page %}
                    {% with game_values=wiki_page.wikipagegamevalues_set.latest %}
                        <tr class="pointer sidebar-trigger" data-sidebar-title="{{ foe.wiki_page }}" data-sidebar-url="{% url 'campaigns:xhr_foe_sidebar' pk=foe.id sidebar_template="foe" %}">
                            <td>{{ wiki_page }} <small class="text-muted">{{ wiki_page.world }}</small></td>
                            <td>{% color_value_span game_values.health 6 %}</td>
                            <td>{% color_value_span game_values.protection 3 %}</td>
                            <td>{% color_value_span game_values.arcana 6 %}</td>
                            <td>{% color_value_span game_values.actions 3 %}</td>
                            <td>{% color_value_span game_values.perception 3 %}</td>
                            <td>{% color_value_span game_values.walking_range 5 %}</td>
                            <td>{% color_value_span game_values.minimum_roll 5 invert=True %}+</td>
                        </tr>
                    {% endwith %}
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
        {% if may_edit %}
            <a
                href=""
                data-sidebar-url="{% url 'campaigns:xhr_search_foe' pk=object.id %}"
                data-sidebar-title="{% trans "Search foe" %}"
                class="btn btn-primary float-end sidebar-trigger">{% trans 'Add foe' %}</a>
        {% endif %}
    </div>
{% endblock %}
