{% load i18n thumbnail static armory_extras rules_extras %}

{% block fragment %}
  <div class="column-container column-layout-3">

    {% if may_edit %}
      <div class="pb-3">
        <div class="card pointer" data-bs-toggle="dropdown">
          <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <i class="fas fa-plus fa-2x"></i><br>
            <div class="dropdown mt-2">
              <button class="btn" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                {% trans "Create custom" %}
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item modal-trigger"
                     data-url="{% url 'homebrew:xhr_create_item' %}?campaign_pk={{ object.id }}"
                     data-bs-toggle="modal"
                     data-bs-target=".page-modal"
                     data-modal-title="{% trans 'Create Item' %}"
                     href="">{% trans "Create custom item" %}</a>
                </li>
                <li>
                  <a data-url="{% url 'homebrew:xhr_create_weapon' %}?campaign_pk={{ object.id }}"
                     data-bs-toggle="modal"
                     data-bs-target=".page-modal"
                     data-modal-title="{% trans 'Create Weapon' %}"
                     class="dropdown-item modal-trigger" href="#">{% trans "Create custom weapon" %}</a>
                </li>
                <li>
                  <a data-url="{% url 'homebrew:xhr_create_riot_gear' %}?campaign_pk={{ object.id }}"
                     data-bs-toggle="modal"
                     data-bs-target=".page-modal"
                     data-modal-title="{% trans 'Create Armour' %}"
                     class="dropdown-item modal-trigger" href="#">{% trans "Create custom armour" %}</a>
                </li>
                <li>
                  <a data-url="{% url 'homebrew:xhr_create_base_spell' %}?campaign_pk={{ object.id }}"
                     data-bs-toggle="modal"
                     data-bs-target=".page-modal"
                     data-modal-title="{% trans 'Create Spell' %}"
                     class="dropdown-item modal-trigger" href="#">{% trans "Create custom spell" %}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% for item in object.homebrew_armory_item_set.all %}
      {% item_widget item %}
    {% endfor %}
    {% for weapon in object.homebrew_armory_weapon_set.all %}
      {% weapon_widget weapon %}
    {% endfor %}
    {% for riot_gear in object.homebrew_armory_riot_gear_set.all %}
      {% riot_gear_widget riot_gear %}
    {% endfor %}
    {% for spell in object.homebrew_magic_basespell_set.all %}
      {% basespell_widget spell %}
    {% endfor %}
  </div>
{% endblock %}
