{% extends 'campaigns/fragments/fragment_base.html' %}
{% load i18n thumbnail static characters_extras campaign_extras %}

{% block fragment %}
    <div class="table-responsive">
        <table class="table campaign-status-sortable">
            <thead>
            <tr class="pointer">
                <th>{% trans 'NPC' %}</th>
                <th class="data column-wounds">{% trans 'Latest Initiative' %}</th>
                <th class="data column-wounds">{% trans 'Wounds' %}</th>
                <th class="data column-status">{% trans 'Status' %}</th>
                <th class="data column-arcana">{% trans 'Arcana' %}</th>
                <th class="data column-stress">{% trans 'Stress' %}</th>
                <th class="data column-dice">{% trans 'Dice' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for c in object.npc_set.all %}
                <tr class="pointer sidebar-trigger sidebar-spinner" data-sidebar-title="{{ c }}" data-sidebar-url="{% url 'campaigns:xhr_character_sidebar' pk=c.id sidebar_template="character" %}">
                    <td class="column-dice">
                        {{ c }}
                    </td>
                    <td>{{ c.latest_initiative }}</td>

                    <td class="column-wounds">
                        <span class="sort-key d-none">{{ c.health|add:c.boost }}</span>
                        {% for i in c.health|to_range %}
                            <i class="fas fa-heart text-danger" title="{% trans 'Health' %}"></i>
                        {% endfor %}
                        {% for i in c.wounds_taken|to_range %}
                            <i class="far fa-heart text-danger" title="{% trans 'Wound' %}"></i>
                        {% endfor %}
                        {% for i in c.boost|to_range %}
                            <i class="fas fa-heart text-info" title="{% trans 'Boost' %}"></i>
                        {% endfor %}
                    </td>

                    <td class="character-status">
                        <span class="sort-key d-none">{{ c.characterstatuseffect_set.count }}</span>
                        {% for cse in c.characterstatuseffect_set.all %}
                            {% for v in cse.value|to_range %}
                                <i title="{{ cse }}: {{ cse.value }}" class="{{ cse.status_effect.fa_icon_class }}"></i>
                            {% endfor %}
                        {% endfor %}
                    </td>

                    <td class="column-arcana">
                        <span class="sort-key d-none">{{ c.arcana }}</span>
                        {% for i in c.arcana|to_range %}
                            <i class="gi-lorc-fairy-wand text-warning"></i>
                        {% endfor %}
                        {% for i in c.arcana_used|to_range %}
                            <i class="gi-lorc-fairy-wand text-muted"></i>
                        {% endfor %}
                    </td>

                    <td class="column-stress">
                        <span class="sort-key d-none">{{ c.stress }}</span>
                        {% if c.extension_enabled.horror %}
                            {% for i in c.stress|to_range %}
                                <i class="fas fa-meh text-warning" title="{% trans 'Stress' %}"></i>
                            {% endfor %}
                            {% for i in c.available_stress|to_range %}
                                <i class="far fa-meh text-warning" title="{% trans 'Possible Stress' %}"></i>
                            {% endfor %}
                        {% endif %}
                    </td>

                    <td class="column-dice">
                        <span class="sort-key d-none">{{ c.bonus_dice_free|add:c.destiny_dice_free|add:c.rerolls_free }}</span>
                        {% for i in c.bonus_dice_free|to_range %}
                            <i class="fas fa-fw fa-dice-six text-success" title="{% trans 'Bonus Die' %}"></i>
                        {% endfor %}
                        {% for i in c.destiny_dice_free|to_range %}
                            <i class="fas fa-fw fa-dice-four text-danger" title="{% trans 'Destiny Die' %}"></i>
                        {% endfor %}
                        {% for i in c.rerolls_free|to_range %}
                            <i class="fas fa-fw fa-dice-one text-info" title="{% trans 'Reroll' %}"></i>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if may_edit %}
            <a href="{% url 'characters:create_random_npc' epoch_pk=object.epoch.id world_pk=object.world.id campaign_pk=object.id hash=object.campaign_hash type="npc" %}" class="btn btn-primary float-end">{% trans 'Create random NPC' %}</a>
            <a href="{% url 'characters:create_character_data' epoch_pk=object.epoch.id world_pk=object.world.id campaign_pk=object.id hash=object.campaign_hash type="npc" %}" class="btn btn-primary me-2 float-end">{% trans 'Create npc' %}</a>
        {% endif %}
    </div>
{% endblock %}
