{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Contact' %} - {{ block.super }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="nav nav-tabs justify-content-center mb-3" id="v-pills-tab" role="tablist">
      <a class="nav-link active" data-bs-toggle="tab" href="#v-privacy"
         role="tab" aria-controls="v-privacy" aria-selected="true"><i
              class="fas fa-fw fa-male"></i>&nbsp;{% trans 'Contact / Privacy' %}</a>
      <a class="nav-link" data-bs-toggle="tab" href="#v-licenses"
         role="tab" aria-controls="v-licenses" aria-selected="true"><i
              class="fas fa-fw fa-male"></i>&nbsp;{% trans 'Licenses' %}</a>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="v-privacy" role="tabpanel">
      <div class="row mb-5 mt-5">
        <div class="col-md-8 offset-md-2">

          <h2>Datenschutzerklärung</h2>
          <p>Personenbezogene Daten (nachfolgend zumeist nur „Daten“ genannt) werden von uns nur im Rahmen der
            Erforderlichkeit sowie zum Zwecke der Bereitstellung eines funktionsfähigen und
            nutzerfreundlichen
            Internetauftritts, inklusive seiner Inhalte und der dort angebotenen Leistungen,
            verarbeitet.</p>
          <p>Gemäß Art. 4 Ziffer 1. der Verordnung (EU) 2016/679, also der Datenschutz-Grundverordnung
            (nachfolgend
            nur „DSGVO“ genannt), gilt als „Verarbeitung“ jeder mit oder ohne Hilfe automatisierter
            Verfahren
            ausgeführter Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten,
            wie das
            Erheben, das Erfassen, die Organisation, das Ordnen, die Speicherung, die Anpassung oder
            Veränderung,
            das Auslesen, das Abfragen, die Verwendung, die Offenlegung durch Übermittlung, Verbreitung oder
            eine
            andere Form der Bereitstellung, den Abgleich oder die Verknüpfung, die Einschränkung, das
            Löschen oder
            die Vernichtung.</p>
          <p>Mit der nachfolgenden Datenschutzerklärung informieren wir Sie insbesondere über Art, Umfang,
            Zweck,
            Dauer und Rechtsgrundlage der Verarbeitung personenbezogener Daten, soweit wir entweder allein
            oder
            gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung entscheiden. Zudem informieren
            wir Sie
            nachfolgend über die von uns zu Optimierungszwecken sowie zur Steigerung der Nutzungsqualität
            eingesetzten Fremdkomponenten, soweit hierdurch Dritte Daten in wiederum eigener Verantwortung
            verarbeiten.</p>
          <p>Unsere Datenschutzerklärung ist wie folgt gegliedert:</p>
          <p>I. Informationen über uns als Verantwortliche<br>II. Rechte der Nutzer und Betroffenen<br>III.
            Informationen zur Datenverarbeitung</p>
          <h3>I. Informationen über uns als Verantwortliche</h3>
          <p>Verantwortlicher Anbieter dieses Internetauftritts im datenschutzrechtlichen Sinne ist:</p>
          <p><span
                  style="color: #ff0000;">Sven Bröckling<br>Dullwalsweg 18<br>33161 Hövelhof<br>Deutschland</span>
          </p>
          <p><span style="color: #ff0000;">Telefon: 01781357324<br>E-Mail: sven@nimbostratus.de</span>
          </p>
          <h3>II. Rechte der Nutzer und Betroffenen</h3>
          <p>Mit Blick auf die nachfolgend noch näher beschriebene Datenverarbeitung haben die Nutzer und
            Betroffenen
            das Recht</p>
          <ul>
            <li>auf Bestätigung, ob sie betreffende Daten verarbeitet werden, auf Auskunft über die
              verarbeiteten
              Daten, auf weitere Informationen über die Datenverarbeitung sowie auf Kopien der Daten (vgl.
              auch
              Art. 15 DSGVO);
            </li>
            <li>auf Berichtigung oder Vervollständigung unrichtiger bzw. unvollständiger Daten (vgl. auch
              Art. 16
              DSGVO);
            </li>
            <li>auf unverzügliche Löschung der sie betreffenden Daten (vgl. auch Art. 17 DSGVO), oder,
              alternativ,
              soweit eine weitere Verarbeitung gemäß Art. 17 Abs. 3 DSGVO erforderlich ist, auf
              Einschränkung der
              Verarbeitung nach Maßgabe von Art. 18 DSGVO;
            </li>
            <li>auf Erhalt der sie betreffenden und von ihnen bereitgestellten Daten und auf Übermittlung
              dieser
              Daten an andere Anbieter/Verantwortliche (vgl. auch Art. 20 DSGVO);
            </li>
            <li>auf Beschwerde gegenüber der Aufsichtsbehörde, sofern sie der Ansicht sind, dass die sie
              betreffenden Daten durch den Anbieter unter Verstoß gegen datenschutzrechtliche Bestimmungen
              verarbeitet werden (vgl. auch Art. 77 DSGVO).
            </li>
          </ul>
          <p>Darüber hinaus ist der Anbieter dazu verpflichtet, alle Empfänger, denen gegenüber Daten durch
            den
            Anbieter offengelegt worden sind, über jedwede Berichtigung oder Löschung von Daten oder die
            Einschränkung der Verarbeitung, die aufgrund der Artikel 16, 17 Abs. 1, 18 DSGVO erfolgt, zu
            unterrichten. Diese Verpflichtung besteht jedoch nicht, soweit diese Mitteilung unmöglich oder
            mit einem
            unverhältnismäßigen Aufwand verbunden ist. Unbeschadet dessen hat der Nutzer ein Recht auf
            Auskunft über
            diese Empfänger.</p>
          <p><strong>Ebenfalls haben die Nutzer und Betroffenen nach Art. 21 DSGVO das Recht auf Widerspruch
            gegen die
            künftige Verarbeitung der sie betreffenden Daten, sofern die Daten durch den Anbieter nach
            Maßgabe von
            Art. 6 Abs. 1 lit. f) DSGVO verarbeitet werden. Insbesondere ist ein Widerspruch gegen die
            Datenverarbeitung zum Zwecke der Direktwerbung statthaft.</strong></p>
          <h3>III. Informationen zur Datenverarbeitung</h3>
          <p>Ihre bei Nutzung unseres Internetauftritts verarbeiteten Daten werden gelöscht oder gesperrt,
            sobald der
            Zweck der Speicherung entfällt, der Löschung der Daten keine gesetzlichen Aufbewahrungspflichten
            entgegenstehen und nachfolgend keine anderslautenden Angaben zu einzelnen Verarbeitungsverfahren
            gemacht
            werden.</p>

          <h4>Serverdaten</h4>
          <p>Aus technischen Gründen, insbesondere zur Gewährleistung eines sicheren und stabilen
            Internetauftritts,
            werden Daten durch Ihren Internet-Browser an uns bzw. an unseren Webspace-Provider übermittelt.
            Mit
            diesen sog. Server-Logfiles werden u.a. Typ und Version Ihres Internetbrowsers, das
            Betriebssystem, die
            Website, von der aus Sie auf unseren Internetauftritt gewechselt haben (Referrer URL), die
            Website(s)
            unseres Internetauftritts, die Sie besuchen, Datum und Uhrzeit des jeweiligen Zugriffs sowie die
            IP-Adresse des Internetanschlusses, von dem aus die Nutzung unseres Internetauftritts erfolgt,
            erhoben.</p>
          <p>Diese so erhobenen Daten werden vorrübergehend gespeichert, dies jedoch nicht gemeinsam mit
            anderen Daten
            von Ihnen.</p>
          <p>Diese Speicherung erfolgt auf der Rechtsgrundlage von Art. 6 Abs. 1 lit. f) DSGVO. Unser
            berechtigtes
            Interesse liegt in der Verbesserung, Stabilität, Funktionalität und Sicherheit unseres
            Internetauftritts.</p>
          <p>Die Daten werden spätestens nach sieben Tage wieder gelöscht, soweit keine weitere Aufbewahrung
            zu
            Beweiszwecken erforderlich ist. Andernfalls sind die Daten bis zur endgültigen Klärung eines
            Vorfalls
            ganz oder teilweise von der Löschung ausgenommen.</p>

          <h4>Cookies</h4>
          <h5>a) Sitzungs-Cookies/Session-Cookies</h5>
          <p>Wir verwenden mit unserem Internetauftritt sog. Cookies. Cookies sind kleine Textdateien oder
            andere
            Speichertechnologien, die durch den von Ihnen eingesetzten Internet-Browser auf Ihrem Endgerät
            ablegt
            und gespeichert werden. Durch diese Cookies werden im individuellen Umfang bestimmte
            Informationen von
            Ihnen, wie beispielsweise Ihre Browser- oder Standortdaten oder Ihre IP-Adresse, verarbeitet.
            &nbsp;</p>
          <p>Durch diese Verarbeitung wird unser Internetauftritt benutzerfreundlicher, effektiver und
            sicherer, da
            die Verarbeitung bspw. die Wiedergabe unseres Internetauftritts in unterschiedlichen Sprachen
            oder das
            Angebot einer Warenkorbfunktion ermöglicht.</p>
          <p>Rechtsgrundlage dieser Verarbeitung ist Art. 6 Abs. 1 lit b.) DSGVO, sofern diese Cookies Daten
            zur
            Vertragsanbahnung oder Vertragsabwicklung verarbeitet werden.</p>
          <p>Falls die Verarbeitung nicht der Vertragsanbahnung oder Vertragsabwicklung dient, liegt unser
            berechtigtes Interesse in der Verbesserung der Funktionalität unseres Internetauftritts.
            Rechtsgrundlage
            ist in dann Art. 6 Abs. 1 lit. f) DSGVO.</p>
          <h5>b) Drittanbieter-Cookies</h5>
          <p>Gegebenenfalls werden mit unserem Internetauftritt auch Cookies von Partnerunternehmen, mit denen
            wir zum
            Zwecke der Werbung, der Analyse oder der Funktionalitäten unseres Internetauftritts
            zusammenarbeiten,
            verwendet.</p>
          <p>Die Einzelheiten hierzu, insbesondere zu den Zwecken und den Rechtsgrundlagen der Verarbeitung
            solcher
            Drittanbieter-Cookies, entnehmen Sie bitte den nachfolgenden Informationen.</p>
          <h5>c) Beseitigungsmöglichkeit</h5>
          <p>Sie können die Installation der Cookies durch eine Einstellung Ihres Internet-Browsers verhindern
            oder
            einschränken. Ebenfalls können Sie bereits gespeicherte Cookies jederzeit löschen. Die hierfür
            erforderlichen Schritte und Maßnahmen hängen jedoch von Ihrem konkret genutzten Internet-Browser
            ab. Bei
            Fragen benutzen Sie daher bitte die Hilfefunktion oder Dokumentation Ihres Internet-Browsers
            oder wenden
            sich an dessen Hersteller bzw. Support. Bei sog. Flash-Cookies kann die Verarbeitung allerdings
            nicht
            über die Einstellungen des Browsers unterbunden werden. Stattdessen müssen Sie insoweit die
            Einstellung
            Ihres Flash-Players ändern. Auch die hierfür erforderlichen Schritte und Maßnahmen hängen von
            Ihrem
            konkret genutzten Flash-Player ab. Bei Fragen benutzen Sie daher bitte ebenso die Hilfefunktion
            oder
            Dokumentation Ihres Flash-Players oder wenden sich an den Hersteller bzw. Benutzer-Support.</p>
          <p>Sollten Sie die Installation der Cookies verhindern oder einschränken, kann dies allerdings dazu
            führen,
            dass nicht sämtliche Funktionen unseres Internetauftritts vollumfänglich nutzbar sind. </p>

          <h4>Kundenkonto / Registrierungsfunktion</h4>
          <p>Falls Sie über unseren Internetauftritt ein Kundenkonto bei uns anlegen, werden wir die von Ihnen
            bei der
            Registrierung eingegebenen Daten (also bspw. Ihren Namen, Ihre Anschrift oder Ihre
            E-Mail-Adresse)
            ausschließlich für vorvertragliche Leistungen, für die Vertragserfüllung oder zum Zwecke der
            Kundenpflege (bspw. um Ihnen eine Übersicht über Ihre bisherigen Bestellungen bei uns zur
            Verfügung zu
            stellen oder um Ihnen die sog. Merkzettelfunktion anbieten zu können) erheben und speichern.
            Gleichzeitig speichern wir dann die IP-Adresse und das Datum Ihrer Registrierung nebst Uhrzeit.
            Eine
            Weitergabe dieser Daten an Dritte erfolgt natürlich nicht.</p>
          <p>Im Rahmen des weiteren Anmeldevorgangs wird Ihre Einwilligung in diese Verarbeitung eingeholt und
            auf
            diese Datenschutzerklärung verwiesen. Die dabei von uns erhobenen Daten werden ausschließlich
            für die
            Zurverfügungstellung des Kundenkontos verwendet.&nbsp;</p>
          <p>Soweit Sie in diese Verarbeitung einwilligen, ist Art. 6 Abs. 1 lit. a) DSGVO Rechtsgrundlage für
            die
            Verarbeitung.</p>
          <p>Sofern die Eröffnung des Kundenkontos zusätzlich auch vorvertraglichen Maßnahmen oder der
            Vertragserfüllung dient, so ist Rechtsgrundlage für diese Verarbeitung auch noch Art. 6 Abs. 1
            lit. b)
            DSGVO.</p>
          <p>Die uns erteilte Einwilligung in die Eröffnung und den Unterhalt des Kundenkontos können Sie
            gemäß Art. 7
            Abs. 3 DSGVO jederzeit mit Wirkung für die Zukunft widerrufen. Hierzu müssen Sie uns lediglich
            über
            Ihren Widerruf in Kenntnis setzen.</p>
          <p>Die insoweit erhobenen Daten werden gelöscht, sobald die Verarbeitung nicht mehr erforderlich
            ist.
            Hierbei müssen wir aber steuer- und handelsrechtliche Aufbewahrungsfristen beachten.</p>

          <h4>Nutzerbeiträge, Kommentare und Bewertungen</h4>
          <p>Wir bieten Ihnen an, auf unseren Internetseiten Fragen, Antworten, Meinungen oder Bewertungen,
            nachfolgend nur „Beiträge genannt, zu veröffentlichen. Sofern Sie dieses Angebot in Anspruch
            nehmen,
            verarbeiten und veröffentlichen wir Ihren Beitrag, Datum und Uhrzeit der Einreichung sowie das
            von Ihnen
            ggf. genutzte Pseudonym.</p>
          <p>Rechtsgrundlage hierbei ist Art. 6 Abs. 1 lit. a) DSGVO. Die Einwilligung können Sie gemäß Art. 7
            Abs. 3
            DSGVO jederzeit mit Wirkung für die Zukunft widerrufen. Hierzu müssen Sie uns lediglich über
            Ihren
            Widerruf in Kenntnis setzen.</p>
          <p>Darüber hinaus verarbeiten wir auch Ihre IP- und E-Mail-Adresse. Die IP-Adresse wird verarbeitet,
            weil
            wir ein berechtigtes Interesse daran haben, weitere Schritte einzuleiten oder zu unterstützen,
            sofern
            Ihr Beitrag in Rechte Dritter eingreift und/oder er sonst wie rechtswidrig erfolgt.</p>
          <p>Rechtsgrundlage ist in diesem Fall Art. 6 Abs. 1 lit. f) DSGVO. Unser berechtigtes Interesse
            liegt in der
            ggf. notwendigen Rechtsverteidigung.</p>

          <h4>Matomo (vormals: PIWIK)</h4>
          <p>In unserem Internetauftritt setzen wir Matomo (ehemals: „PIWIK“) ein. Hierbei handelt es sich um
            eine
            Open-Source-Software, mit der wir die Benutzung unseres Internetauftritts analysieren können.
            Hierbei
            werden Ihre IP-Adresse, die Website(s) unseres Internetauftritts, die Sie besuchen, die Website,
            von der
            aus Sie auf unseren Internetauftritt gewechselt haben (Referrer URL), Ihre Verweildauer auf
            unserem
            Internetauftritt sowie die Häufigkeit des Aufrufs einer unserer Websites verarbeitet.</p>
          <p>Zur Erfassung dieser Daten speichert Matomo über Ihren Internet-Browser ein Cookie auf Ihrem
            Endgerät.
            Dieses Cookie ist eine Woche lang gültig.</p>
          <p>Rechtsgrundlage ist Art. 6 Abs. 1 lit. f) DSGVO. Unser berechtigtes Interesse liegt in der
            Analyse und
            Optimierung unseres Internetauftritts.</p>
          <p>Allerdings nutzen wir Matomo mit der Anonymisierungsfunktion „Automatically Anonymize Visitor
            IPs“. Diese
            Anonymisierungsfunktion kürzt Ihre IP-Adresse um zwei Bytes, sodass eine Zuordnung zu Ihnen bzw.
            zu dem
            von Ihnen genutzten Internetanschluss unmöglich ist.</p>
          <p>Falls Sie mit dieser Verarbeitung nicht einverstanden sind, haben Sie die Möglichkeit, die
            Speicherung
            des Cookies durch eine Einstellung in Ihrem Internet-Browsers zu verhindern. Nähere
            Informationen hierzu
            finden Sie vorstehend unter „Cookies“.</p>
          <p>Darüber hinaus haben Sie die Möglichkeit, die Analyse Ihres Nutzungsverhaltens im Wege des sog.
            Opt-outs
            zu beenden. Mit dem Anwählen der folgenden Option wird über Ihren Internet-Browser ein Cookie
            auf Ihrem
            Endgerät gespeichert, das die weitere Analyse
            verhindert. Bitte beachten Sie aber, dass Sie die Option erneut betätigen müssen, sofern Sie die
            auf Ihrem Endgerät gespeicherten Cookies löschen. Sollten Sie im Folgenden keine Option
            vorfinden
            wird Matomo von Ihrem Browser oder Adblocker vollständig geblockt, und es findet keine Erfassung
            statt.
          </p>
          <p>
            <iframe
                    style="border: 0; height: 200px; width: 600px;"
                    src="http://piwik.nimbostratus.de/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=&fontColor=&fontSize=&fontFamily="
            ></iframe>
          </p>
          <p></p>

          <p>
            <a target="_blank"
               href="https://www.ratgeberrecht.eu/leistungen/muster-datenschutzerklaerung.html">Muster-Datenschutzerklärung</a>
            der <a target="_blank" href="https://www.ratgeberrecht.eu/">Anwaltskanzlei Weiß &amp;
            Partner</a></p>

        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="v-licenses" role="tabpanel">
      <div class="row mb-5 mt-5">
        <div class="col-md-8 offset-md-2">
          {% static "vendor/game-icons/index.html" as game_icons_page_url %}
          {% static "vendor/game-icons/license.txt" as game_icons_license_url %}
          {% blocktrans with t_game_icons_page_url=game_icons_page_url t_game_icons_license_url=game_icons_license_url %}

            <h2>Game Content</h2>
            Text content on this platform is licensed under the
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA</a> License. This affects
            all content including rules and game content like character templates, spells etc. You may use the content
            of this game for own purposes,
            but you have to state the origin of the material, and you have no permission to use this material
            commercially.

            <h2 class="mt-3">Images</h2>
            Images on this platform are licensed under the
            <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a> licence. You are free to use the images
            from this game for your own purposes.

            <h2 class="mt-3">Source Code</h2>
            This source code of this plattform is available in a
            <a href="https://codeberg.org/Nimbostratus/phasesix">git repository</a>.
            The code is licensed under the GPL3 Licence, which allows free use. The Django Project can be used freely
            and commercially too. This permission does not include the permission to use game content commercially (see
            above).

            <h2 class="mt-3">Icons</h2>
            This platform uses icons from the <a href="https://game-icons.net">Game Icons</a> project. The icons
            are licensed under the <a href="{{ t_game_icons_license_url }}">CC BY 3.0</a> license. The authors
            of the icons can be found on the <a href="{{ t_game_icons_page_url }}">Game Icons</a> page.
          {% endblocktrans %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
