{% load i18n characters_extras rules_extras %}
<div class="card spell-selection-card mb-3">

  {% if not character %}
    <a class="stretched-link" href="{% url 'magic:basespell_detail' pk=basespell.id %}"></a>
  {% endif %}

  <div class="card-body position-relative">
    <h4>{{ basespell }}</h4>
    <span class="fs-4 position-absolute badge bg-primary-subtle rounded mt-2 me-2 top-0 end-0">{{ basespell.spell_point_cost }}</span>
    <small class="text-muted">{{ basespell.variant }} - {{ basespell.type }}</small>

    {% if basespell.is_ritual %}
      <span class="text-muted text-center">{% trans 'Ritual' %}</span>
    {% endif %}

    <p>
      {{ basespell.rules|urpg_markup }}
    </p>

    <i class="fas fa-book-open fa-fw"></i> {% trans 'Origin' %}: {{ basespell.origin }}<br>
    <i class="fas fa-dice-five fa-fw"></i> {% trans 'Spell Casting' %}: {{ basespell.type.reference_attribute.name }}<br>
    <i class="gi-lorc-fairy-wand"></i> {% trans 'Arcana' %}:
    {% for a in basespell.arcana_cost|to_range %}<i class="gi-lorc-fairy-wand text-warning"></i>{% endfor %}<br>
    <i class="fas fa-arrows-alt-h fa-fw"></i> {% trans 'Range' %}: {% color_value_span basespell.range 4 %}<br>
    <i class="fas fa-circle fa-fw"></i> {% trans 'Shape' %}: {{ basespell.shape|default:"-" }}<br>
    <i class="fas fa-hourglass fa-fw"></i> {% trans 'Actions' %}: {% color_value_span basespell.actions 3 invert=True %}<br>

    {% trans "Instant" as t_duration %}
    <i class="fas fa-hourglass fa-fw"></i> {% trans 'Duration' %}: {{ basespell.duration|default:t_duration }}
    {% if basespell.duration %}{{ basespell.get_duration_unit_display }}{% endif %}
    {% if basespell.needs_concentration %}
      <small><i>({% trans "Needs concentration" %})</i></small>{% endif %}<br>

    <div class="w-100">
      {% if character %}
        <form action="{% url "characters:xhr_character_objects" pk=character.id object_type="spell" %}"
              class="float-end add-form" method="post">
          {% csrf_token %}
          <input type="hidden" name="object_id" value="{{ basespell.id }}">
          <button class="btn btn-sm btn-primary m-2"
                  data-danger="{% trans 'Not possible' %}"
                  data-success="{% trans 'Learned' %}">
            {% trans 'Learn' %}
          </button>
        </form>
      {% endif %}
    </div>

    {% if user.is_superuser %}
      <a href="{% url 'admin:magic_basespell_change' basespell.id %}"
         style="position: absolute; bottom: 2px; right: 2px; font-size: xx-small">admin</a>
    {% endif %}
  </div>
</div>
