{% load characters_extras %}
{% load i18n %}
{% load portal_extras %}

<ul class="list-group mb-3">
  <li class="list-group-item">
    <i class="fas fa-fw fa-hourglass text-info" data-bs-toggle="popover" data-bs-trigger="hover"
       title="{% trans 'Actions' %}"
       data-bs-content="{% trans 'The amount of actions you can use in combat.' %}"></i>
    {% trans 'Combat Actions' %}
    <span class="float-end">{% color_value_span object.actions 4 %}</span></li>
  <li class="list-group-item">
    <i class="fas fa-fw fa-dice-five text-warning" data-bs-toggle="popover"
       title="{% trans 'Minimum Roll' %}"></i>
    {% trans 'Minimum Roll' %}
    <span class="float-end">{% color_value_span object.minimum_roll 5 invert=True %}+</span>
  </li>
</ul>

<div class="list-group mb-3">

  <a class="active py-3 navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
     data-bs-toggle="tab"
     data-bs-target="#v-description"
     role="tab"
     aria-current="false">
    <div class="d-flex justify-content-center align-items-center">
      <i class="gi gi-lorc-bookmark"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Description" %}</span>
    </div>
  </a>

  <a class="navigation-link pointer py-3 list-group-item list-group-item-action d-flex justify-content-between align-items-center"
     data-bs-toggle="tab"
     data-bs-target="#v-character"
     role="tab"
     aria-current="true">
    <div class="d-flex justify-content-center align-items-center">
      <i class="gi gi-delapouite-person"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Character" %}</span>
    </div>
  </a>

  <a class="py-3 navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
     data-bs-toggle="tab"
     data-bs-target="#v-gear"
     role="tab"
     aria-current="false">
    <div class="d-flex justify-content-center align-items-center">
      <i class="gi gi-lorc-battle-gear"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Gear" %}</span>
    </div>
  </a>

  <a class="py-3 navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
     data-bs-toggle="tab"
     data-bs-target="#v-combat"
     role="tab"
     aria-current="false">
    <div class="d-flex justify-content-center align-items-center">
      <i class="gi gi-lorc-crossed-swords"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Combat" %}</span>
    </div>
  </a>

  {% if object.extension_enabled.magic and object.is_magical %}
    <a class="py-3 navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
       data-bs-toggle="tab"
       data-bs-target="#v-magic"
       role="tab"
       aria-current="false">
      <div class="d-flex justify-content-center align-items-center">
        <i class="gi-lorc-fairy-wand"></i>
        <span class="ms-3 d-block d-lg-block">{% trans "Magic" %}</span>
      </div>
      {% if object.spell_points_available %}
        <span class="badge bg-primary-subtle ms-2">{{ object.spell_points_available }}</span>
      {% endif %}
    </a>
  {% endif %}

  {% if object.extension_enabled.pantheon %}
    <a class="py-3 navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
       data-bs-toggle="tab"
       data-bs-target="#v-pantheon"
       role="tab"
       aria-current="false">
      <div class="d-flex justify-content-center align-items-center">
        <i class="gi gi-lorc-ankh"></i>
        <span class="ms-3 d-block d-lg-block">{% trans "Belief" %}</span>
      </div>
      {% if object.grace %}
        <span class="badge bg-primary-subtle ms-2">{{ object.grace }}</span>
      {% endif %}
    </a>
  {% endif %}

  {% if object.extension_enabled.horror %}
    <a class="py-3 navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
       data-bs-toggle="tab"
       data-bs-target="#v-horror"
       role="tab"
       aria-current="false">
      <div class="d-flex justify-content-center align-items-center">
        <i class="gi gi-lorc-monster-grasp"></i>
        <span class="ms-3 d-block d-lg-block">{% trans "Horror" %}</span>
      </div>
      {% if object.stress %}
        <span class="badge bg-primary-subtle ms-2">{{ object.stress }}</span>
      {% endif %}
    </a>
  {% endif %}

  <a class="py-3 navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
     data-bs-toggle="tab"
     data-bs-target="#v-background"
     role="tab"
     aria-current="false">
    <div class="d-flex justify-content-center align-items-center">
      <i class="gi gi-delapouite-graduate-cap"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Background" %}</span>
    </div>
  </a>

  <a class="py-3 navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
     data-bs-toggle="tab"
     data-bs-target="#v-notes"
     role="tab"
     aria-current="false">
    <div class="d-flex justify-content-center align-items-center">
      <i class="gi gi-delapouite-bookshelf"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Notes" %}</span>
    </div>
    {% if may_edit %}
      <button type="button" class="btn btn-sm ms-2 sidebar-trigger"
              data-sidebar-title="{% trans 'Take a note' %}"
              data-sidebar-url="{% url 'characters:xhr_sidebar' pk=object.id sidebar_template="create_note" %}">
        +
      </button>
    {% endif %}
  </a>

</div>

<div class="list-group mb-3">
  <span class="list-group-item py-3 sidebar-trigger"
        data-sidebar-title="{% trans 'Character' %}"
        data-sidebar-url="{% url 'characters:xhr_sidebar' pk=object.id sidebar_template="character" %}"
        role="button">

    {% if may_edit %}
      <div class="d-flex align-items-center">
      <i class="gi gi-lorc-fountain-pen"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Edit / Download" %}</span>
    </div>
    {% else %}
      <div class="d-flex align-items-center">
      <i class="gi gi-lorc-fountain-pen"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Download" %}</span>
    </div>
    {% endif %}
    </span>
</div>

