{% load i18n characters_extras rules_extras thumbnail armory_extras %}

<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h4>{{ weapon }}</h4>

        {{ weapon.description|urpg_markup }}

        {% for kw in weapon.weaponkeyword_set.all %}
          <span class="fw-bold {% if kw.keyword.is_rare %}text-primary{% endif %}">{{ kw.keyword.name }}</span>
          {% color_value_span kw.value 6 %}
          <i>({{ kw.keyword.description|replace_keyword_value:kw.value }})</i><br>
        {% endfor %}

        {% if weapon.attack_modes.exists %}
          <br>
          {% for fm in weapon.attack_modes.all %}
            <button disabled class="btn btn-outline-primary mb-2 w-100">
              {{ fm.name }}<br>
            </button>
          {% endfor %}
        {% endif %}

        {% if character and add_button %}
          {% with currency_unit=character.common_currency_unit %}
            <form action="{% url 'characters:xhr_character_objects' pk=character.id object_type="weapon" %}"
                  class=" float-end add-form pt-3" method="post">
              {% csrf_token %}
              <input type="hidden" name="object_id" value="{{ weapon.id }}">
              <button class="btn btn-sm btn-primary float-end"
                      data-danger="{% trans 'Not possible' %}"
                      data-success="{% trans 'Added' %}">
                {% trans 'Add' %}
                <i class="ms-1 {{ currency_unit.fa_icon_class }} {{ currency_unit.color_class }}"></i>
                {% color_value_span weapon.price 1000 invert=True %}
              </button>
            </form>
          {% endwith %}
        {% else %}
          {% if not world_configuration %}
            {% for extension in weapon.extensions.all %}
              <span class="mt-2 badge text-muted bg-primary-subtle" title="{{ extension }}">
          <i class="m-1 {{ extension.fa_icon_class }}"></i></span>
            {% endfor %}
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% if user.is_superuser %}
      <a href="{% url 'admin:armory_weapon_change' weapon.id %}"
         style="position: absolute; bottom: 2px; left: 2px; font-size: xx-small">admin</a>
    {% endif %}
  </div>
</div>
