{% extends 'characters/fragments/fragment_base.html' %}
{% load characters_extras rules_extras i18n %}

{% block fragment %}
  {% if may_edit %}
    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary btn-sm float-end dice-roll mb-1"
                data-dice-roll="{{ object.attributes.quickness }}d6"
                data-dice-header="{% trans 'Initiative' %}"
                data-dice-description="{% trans 'Initiative (*Quickness*d6)' %}"
                data-dice-save-to="initiative"
                data-dice-character={{ object.id }}>{% trans "Roll Initiative" %}
          ({{ object.attributes.quickness }}{% trans 'd6' %})
        </button>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>{% trans 'Action' %}</th>
            <th class="text-end">{% trans 'Dice' %}</th>
            <th class="text-end">{% trans 'Notes' %}</th>
            <th title="{% trans 'Capacity' %}" class="text-end">{% trans 'Cap.' %}</th>
            <th class="text-end">{% trans 'Range' %}</th>
          </tr>
          </thead>
          <tbody>
          <tr class="sidebar-trigger" data-sidebar-title="{% trans 'Weaponless' %}"
              data-sidebar-url="{% url 'characters:xhr_sidebar' pk=object.id sidebar_template="weaponless" %}">
            <td>
              <i class="fas fa-hand-rock text-success"></i> {% trans 'Weaponless' %}
              <small class="text-muted">{% trans 'Melee' %}</small>
            </td>
            <td class="text-end">
              {% trans 'Weaponless Attack' %} {% color_value_span object.weaponless_attack_dice 6 %} <i
                    class="fas text-muted fa-dice-five"></i>
            </td>
            <td class="text-end">
              {% if object.weaponless_pierceing > 0 %}
                {% trans 'Piercing' %} {% color_value_span object.weaponless_piercing 6 %}
              {% endif %}
            </td>
            <td class="text-end">-</td>
            <td class="text-end">
              {% color_value_span 1 5 %} {% trans "Meter" %}
            </td>
          </tr>

          {% for w in object.characterweapon_set.all %}
            {% with modified_keywords=w.modified_keywords %}
              <tr class="sidebar-trigger" data-sidebar-title="{{ w.weapon }}"
                  data-sidebar-url="{% url 'characters:xhr_sidebar' pk=w.id sidebar_template="weapon" %}">
                <td>
                  <i class="fas fa-hand-rock text-success"></i> {{ w.weapon }}
                  <small class="text-muted">{{ w.weapon.type }}</small>
                </td>
                <td class="text-end">
                  {% for am in w.attack_modes_with_values %}
                    {{ am.0 }} {% color_value_span am.1 7 %} <i class="fas text-muted fa-dice-five"></i>
                    <br>
                  {% endfor %}
                </td>
                <td class="text-end">
                  {% for modified_keyword in modified_keywords.values %}
                    {% if modified_keyword.show_in_summary %}
                      {{ modified_keyword.name }} {% color_value_span modified_keyword.value 3 %}<br>
                    {% endif %}
                  {% endfor %}
                  {% if w.has_modifications_with_rules %}{% trans 'Mods with rules' %}
                    <i class="fas fa-gavel fa-fw text-muted"></i>{% endif %}
                </td>
                <td class="text-end">
                  {% if modified_keywords.capacity %}
                    {% color_value_span w.capacity_available modified_keywords.capacity.value %} /
                    {% color_value_span modified_keywords.capacity.value modified_keywords.capacity.value %}
                  {% else %}
                    -
                  {% endif %}
                </td>
                <td class="text-end">
                  {% color_value_span modified_keywords.range_meter.value 20 %} {% trans "Meter" %}
                </td>
              </tr>
            {% endwith %}
          {% endfor %}

          {% for r in object.characterriotgear_set.shields %}
            <tr class="sidebar-trigger" data-sidebar-title="{{ r.riot_gear }}"
                data-sidebar-url="{% url 'characters:xhr_sidebar' pk=r.id sidebar_template="riot_gear" %}">
              <td>
                <i class="fas fa-shield-alt text-info"></i> <span class="text-muted"></span>{{ r.riot_gear }}
                <small class="text-muted">{{ r.riot_gear.type }}</small>
              </td>
              <td class="text-end">
              </td>
              <td class="text-end">
                {% trans "Shield Block - Cover" %} {% color_value_span r.riot_gear.shield_cover 6 invert=True %}+<br>
                {% trans "Shield Parry - Cover" %} {% color_value_span r.riot_gear.shield_cover 6 invert=True %}+
              </td>
              <td class="text-end">
              </td>
              <td class="text-end">
                {% color_value_span 1 5 %} {% trans "Meter" %}
              </td>
            </tr>
          {% endfor %}

          {% for i in object.characteritem_set.usable_in_combat %}
            <tr class="sidebar-trigger" data-sidebar-title="{{ i.item }}"
                data-sidebar-url="{% url 'characters:xhr_sidebar' pk=i.id sidebar_template="item" %}">
              <td>
                <i class="fas fa-bomb text-info"></i> <span class="text-muted"></span>{{ i.item }}
                <small class="text-muted">{{ i.item.type }}</small>
              </td>
              <td class="text-end">
                {% if i.item.skill %}
                  {% character_skill_value object i.item.skill as skill_value %}
                  {{ i.item.skill.name }} {% color_value_span skill_value 5 %} <i
                        class="fas text-muted fa-dice-five"></i>
                {% endif %}
              </td>
              <td class="text-end">
              </td>
              <td class="text-end">
                {% color_value_span i.quantity 4 %}
              </td>
              <td class="text-end">
              </td>
            </tr>
          {% endfor %}

          {% for s in object.characterspell_set.all %}
            <tr class="sidebar-trigger" data-sidebar-title="{{ s }}"
                data-sidebar-url="{% url 'characters:xhr_sidebar' pk=s.id sidebar_template="spell" %}">
              <td>
                <i class="gi-lorc-fairy-wand text-danger"></i> {{ s.spell }}
                <small class="text-muted">{{ s.spell_type }} - {{ s.variant }}</small>
              </td>
              <td class="text-end">
                {% spell_type_attribute_dice_value s.character s.spell_type as dice %}
                {{ s.spell_type.reference_attribute.name }} {% color_value_span dice 5 %} <i
                      class="fas fa-dice-five text-muted"></i>
              </td>
              <td class="text-end">
                <i class="fas fa-bolt text-muted"></i> {% trans 'Power' %} {% color_value_span s.power 4 %}<br>
                <i class="fas fa-hourglass text-muted"></i> {% trans 'Actions' %} {% color_value_span s.actions 3 invert=True %}
              </td>
              <td class="text-end">
                {% for a in s.arcana_cost|to_range %}
                  <i class="gi-lorc-fairy-wand text-warning"></i>{% endfor %}<br>
              </td>
              <td class="text-end">
                {% color_value_span s.range 20 %} {% trans 'Meter' %}
              </td>
            </tr>
          {% endfor %}

          <tr>
            <td>
              <i class="fas fa-running text-warning"></i> {% trans "Evade" %}
              <small class="text-muted">{% trans 'Movement' %}</small>
            </td>
            <td class="text-end sidebar-trigger" data-sidebar-title="{% trans 'Evade' %} "
                data-sidebar-url="{% url 'characters:xhr_sidebar' pk=object.id sidebar_template="combat" %}">
              {% color_value_span character.evasion 6 %} <i class="fas fa-dice-five text-muted"></i>
            </td>
            <td colspan="3"></td>
          </tr>

          {% for t in object.templates_with_combat_rules.all %}
            <tr>
              <td>
                <i class="fas fa-graduation-cap text-primary"></i> <span
                      class="text-muted"></span>{{ t.template.name }}
                <small class="text-muted">{{ t.template.category }}</small>
              </td>
              <td colspan="4">
                                <span class="text-muted">
                                    {{ t.template.rules|urpg_markup }}
                                </span>
              </td>
            </tr>
          {% endfor %}

          <tr>
            <td>
              <i class="fas fa-running text-warning"></i> {% trans "Walk" %}
              <small class="text-muted">{% trans 'Movement' %}</small>
            </td>
            <td colspan="3">
                            <span class="text-muted">
                                {% blocktrans %}
                                  You can perform an action while walking. The minimum roll for this action is raised by
                                  1.
                                {% endblocktrans %}
                            </span>
            </td>
            <td class="text-end">
              {% color_value_span object.combat_walking_range 4 %} {% trans 'Meter' %}
            </td>
          </tr>

          <tr>
            <td>
              <i class="fas fa-running text-warning"></i> {% trans "Run" %}
              <small class="text-muted">{% trans 'Movement' %}</small>
            </td>
            <td colspan="3">
                            <span class="text-muted">
                                {% blocktrans %}
                                  You can't perform an action while running.
                                {% endblocktrans %}
                            </span>
            </td>
            <td class="text-end">
              {% color_value_span object.combat_running_range 4 %} {% trans 'Meter' %}
            </td>
          </tr>

          <tr>
            <td>
              <i class="fas fa-running text-warning"></i> {% trans "Crawl" %}
              <small class="text-muted">{% trans 'Movement' %}</small>
            </td>
            <td colspan="3">
                            <span class="text-muted">
                                {% blocktrans %}
                                  Crawling is only possible while hunkered.
                                {% endblocktrans %}
                            </span>
            </td>
            <td class="text-end">
              {% color_value_span object.combat_crawling_range 4 %} {% trans 'Meter' %}
            </td>
          </tr>

          <tr>
            <td>
              <i class="fas fa-user-shield text-warning"></i> {% trans "Hunker" %}
              <small class="text-muted">{% trans 'Movement' %}</small>
            </td>
            <td colspan="4">
                        <span class="text-muted">
                        {% blocktrans %}
                          Applies the "Hunkered" status effect. Hunkered characters have a 6+ cover and a
                          +1 minimum roll for physis, attacks and skills.
                        {% endblocktrans %}
                        </span>
            </td>
          </tr>

          <tr>
            <td>
              <i class="fas fa-bullseye text-warning"></i> {% trans "Aim" %}
              <small class="text-muted">{% trans 'Combat' %}</small>
            </td>
            <td colspan="4">
                            <span class="text-muted">
                                {% blocktrans %}
                                  Reduces the minimum roll for critical hits by 1 per action. This is not possible when
                                  using burst mode. The aim bonus is lost when the character is hit.
                                {% endblocktrans %}
                            </span>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

