{% load i18n thumbnail static characters_extras campaign_extras rules_extras %}

<div class="row">
    {% for roll in page_obj %}
        <div class="col-12 col-md-8 mb-2">
            <div class="card">
                <div class="card-header">
                    <span class="float-end">{{ roll.created_at }}</span>
                    {% trans 'GM' as character_default %}
                    {{ roll.character|default:character_default }} - {{ roll.header }}
                </div>
                <div class="card-body">
                    {{ roll.description|urpg_markup }}
                    <div class="mt-1">
                        {% include "campaigns/_dice_socket_results.html" with roll=roll %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-12 col-md-8">
        {% if page_obj.has_next %}
            <button
                hx-get="{% url "campaigns:xhr_game_log" campaign_pk=campaign.id %}?page={{ page_obj.next_page_number }}"
                hx-target="closest .row"
                hx-swap="outerHTML"
                class="btn btn-primary w-100">{% trans "Show older rolls" %}</button>
        {% endif %}
    </div>
</div>
