{% load i18n characters_extras rules_extras %}
<div class="card mb-3 template
  {% if template.is_mastery %}border-danger{% endif %}
  {% if template.is_magic_template %}border-warning{% endif %}
  {% if template.has_allows_priest_action %}border-success{% endif %}">
  <div class="card-body position-relative">
    <h4>{{ template }}</h4>
    <span class="fs-4 position-absolute badge bg-primary-subtle rounded mt-2 me-2 top-0 end-0">{{ template.cost }}</span>

    {% if template.rules %}
      <p>{{ template.rules|urpg_markup }}</p>
    {% endif %}

    {% if template.has_allows_priest_action %}
      <p class="text-success">
        {% trans "Allows to perform the acts of a priest." %}
      </p>
    {% endif %}

    {% with all_modifiers=template.templatemodifier_set.all %}
      {% for mod in all_modifiers %}
        {% if mod.aspect %}
          <i class="fas fa-sun fa-fw" title="{% trans 'Aspect' %}"></i> {{ mod.get_aspect_display|capfirst }}
          {% color_value_span mod.aspect_modifier 3 algebraic_sign=True %}<br>
        {% endif %}
      {% endfor %}
      {% for mod in all_modifiers %}
        {% if mod.attribute %}
          <i class="fas fa-asterisk fa-fw" title="{% trans 'Attribute' %}"></i> {{ mod.attribute.name }}
          {% color_value_span mod.attribute_modifier 3 algebraic_sign=True %}<br>
        {% endif %}
      {% endfor %}
      {% for mod in all_modifiers %}
        {% if mod.skill %}
          <i class="fas fa-hand-scissors fa-fw" title="{% trans 'Skill' %}"></i> {{ mod.skill }}
          {% color_value_span mod.skill_modifier 3 algebraic_sign=True %}<br>
        {% endif %}
      {% endfor %}
      {% for mod in all_modifiers %}
        {% if mod.knowledge %}
          <i class="fas fa-book fa-fw" title="{% trans 'Knowledge' %}"></i> {{ mod.knowledge }}
          {% color_value_span mod.knowledge_modifier 3 algebraic_sign=True %}<br>
        {% endif %}
      {% endfor %}
      {% for mod in all_modifiers %}
        {% if mod.unlocks_spell_origin %}
          <i class="gi-lorc-fairy-wand" title="{% trans 'Magic Origin' %}"></i> {% trans 'Magic Origin' %}:
          <span class="text-warning">{{ mod.unlocks_spell_origin }}</span><br>
        {% endif %}
      {% endfor %}
    {% endwith %}

    {% if template.quote %}
      <p class="text-muted pt-3"><i>
        {{ template.quote }}{% if template.quote_author %}<br>- {{ template.quote_author }}{% endif %}</i></p>
    {% endif %}

    {% if not world_configuration and not character %}
      {% for extension in template.extensions.all %}
        <span class="mt-3 badge text-muted bg-primary-subtle" title="{{ extension }}">
          <i class="m-1 {{ extension.fa_icon_class }}"></i></span>
      {% endfor %}
    {% endif %}

    {% if character and add_button %}
      <form action="{% url 'characters:xhr_character_objects' pk=character.id object_type="template" %}"
            class="float-end add-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="object_id" value="{{ template.id }}">
        <button class="btn btn-sm btn-primary m-2"
                data-danger="{% trans 'Not possible' %}"
                data-success="{% trans 'Added' %}">
          {% trans 'Add' %}
        </button>
      </form>
    {% endif %}

    {% if user.is_superuser %}
      <a href="{% url 'admin:rules_template_change' template.id %}"
         style="position: absolute; bottom: 2px; right: 2px; font-size: xx-small">admin</a>
    {% endif %}
  </div>
</div>
