{% load armory_extras %}
{% load rules_extras %}
{% load characters_extras %}
{% load i18n %}

{% for character_weapon in object.characterweapon_set.all %}
  <div class="weapon-sortable"
       data-url="{% url 'characters:xhr_update_item_sort_order' pk=character.id %}">
    <div class="card mb-4 sidebar-trigger" data-sidebar-title="{{ character_weapon.weapon }}"
         data-sidebar-url="{% url 'characters:xhr_sidebar' pk=character_weapon.id sidebar_template="weapon" %}">

      <div class="card-body">
        <h4>{{ character_weapon.weapon }}</h4>

        <div class="row">
          <div class="col-12">
            {{ character_weapon.weapon.description|urpg_markup }}

            {% for identifier, kw in character_weapon.modified_keywords.items %}
              <span class="fw-bold {% if kw.is_rare %}text-primary{% endif %}">{{ kw.name }}</span>
              {% color_value_span kw.value 6 %}
              <i class="text-muted">({{ kw.description|replace_keyword_value:kw.value }})</i><br>
            {% endfor %}

            {% for wm in character_weapon.modifications.all %}
              <hr>
              <h5 class="mt-4">{{ wm }}</h5>
              <p>
                {{ wm.rules|urpg_markup }}
              </p>
              {% for keyword in wm.weaponmodificationkeyword_set.all %}
                <span class="fw-bold {% if keyword.keyword.is_rare %}text-primary{% endif %}">{{ keyword.keyword.name }}</span>
                {% color_value_span keyword.value 6 %}<br>
              {% endfor %}
            {% endfor %}

            {% if character_weapon.weapon.attack_modes.exists %}
              <br>
              {% for fm in character_weapon.weapon.attack_modes.all %}
                {% with meter=character_weapon.modified_keywords.range_meter.value %}
                  <button disabled class="btn btn-outline-primary mb-2 w-100">
                    {{ fm.name }} - {{ meter|default:1 }}m<br>
                  </button>
                {% endwith %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% empty %}
  <div {% if may_edit %}
    data-url="{% url 'characters:xhr_character_objects' pk=object.id object_type="weapon" %}"
    data-bs-toggle="modal"
    data-bs-target=".page-modal"
    data-modal-title="{% trans 'Add Weapons' %}"
  {% endif %}
    class="card mb-4 pointer {% if may_edit %}modal-trigger{% endif %}">
    <div class="card-body p-4 d-flex align-items-center justify-content-start">
      <i class="fs-1 me-3 gi-delapouite-axe-sword"></i>
      <div>
        <span class="fs-4">{% trans "No weapons." %}</span><br>
        {% if may_edit %}
          <small class="text-muted">{% trans "Click to add a weapon" %}</small>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
