{% load thumbnail %}
{% load pantheon_extras %}
{% load rules_extras %}
{% load i18n %}
{% for s in object.priest_actions.all %}
  <div data-sidebar-title="{{ s.name }}"
       data-sidebar-url="{% url 'characters:xhr_sidebar_priest_action' pk=object.id sidebar_template="priest_action" priest_action_pk=s.id %}"
       class="card mb-3 sidebar-trigger">
    <div class="card-header">
                <span class="badge bg-dark float-end ms-2" title="{% trans 'Grace cost' %}">
                    {% if s.grace_cost > 0 %}
                      {{ s.grace_cost }} {% trans 'Grace' %}
                    {% else %}
                      {% trans 'Special' %}
                    {% endif %}
                </span>
      {{ s }}
    </div>
    <div class="card-body">
      <p>
        {{ s.rules|urpg_markup }}
      </p>
      {% if user.is_superuser %}
        <a href="{% url 'admin:pantheon_priestaction_change' s.id %}"
           style="position: absolute; bottom: 2px; right: 2px; font-size: xx-small">admin</a>
      {% endif %}
    </div>
    <ul class="list-group list-group-flush">
      {% entity_work object s as entity_work_list %}
      {% for ew in entity_work_list %}
        <li class="list-group-item p-0 d-flex flex-row">
          <div class="p-2">
            <strong>{{ ew.name }}</strong><br>
            <a href="{{ ew.wiki_page.get_absolute_url }}">{{ ew.wiki_page.name }}</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
