{% load i18n django_bootstrap5 %}

<script>
    $(function () {
        $('.create-item-button').on('click', function (e) {
            let form = $(this).closest('form')
            $.post(form.attr('action'), form.serialize(), function (data) {})
            e.preventDefault()
            return false
        })
    })
</script>

<form action="{% url 'homebrew:create_base_spell' %}?character_pk={{ character.id }}&campaign_pk={{ campaign.id }}" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            {% csrf_token %}
            {% bootstrap_field form.name %}
            {% bootstrap_field form.origin %}
            {% bootstrap_field form.type %}
            {% bootstrap_field form.is_ritual %}
            {% bootstrap_field form.rules %}
            {% bootstrap_field form.spell_point_cost %}
            {% bootstrap_field form.arcana_cost %}
            {% bootstrap_field form.power %}
            {% bootstrap_field form.range %}
            {% bootstrap_field form.actions %}
            {% bootstrap_field form.variant %}
            {% bootstrap_field form.shape %}
            {% bootstrap_field form.add_to_character %}
            <button class="btn btn-primary mt-1 create-item-button w-100" data-bs-dismiss="modal">{% trans 'Create Item' %}</button>
        </div>
    </div>
</form>
