{% load characters_extras %}
{% load i18n django_bootstrap5 rules_extras %}

<div class="row mb-3">
  <div class="col-12 text-center">
    <span class="fs-1">
      {% color_value_span object.base_value 5 %} +
      {% color_value_span object.modifier 2 %} =
      {% color_value_span object.value 5 %}
    </span>
  </div>
</div>

{% if may_edit %}
  <div class="row">
    <div class="col-12">
      <button data-dice-roll="{{ object.value }}d6"
              data-dice-header="{{ object.skill }}"
              data-dice-description=""
              data-dice-character="{{ object.character.id }}"
              class="btn btn-primary btn-sm w-100 dice-roll">
        <i class="fas fa-dice-five fa-fw"></i> {% trans 'Roll' %}</button>
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="col-12 {% if may_edit %}mt-3{% endif %}">
    <div class="text-muted mb-2">
      <b>{% trans "Attribute" %}</b>: {{ object.skill.reference_attribute_1 }}
    </div>
    {{ object.skill.description|urpg_markup }}
  </div>
</div>
