{% load rules_extras i18n static rulebook_extras %}
<html lang="de">
    <head>
        <title>{{ world_book.book_title }}</title>

        <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Oxanium:wght@200;300;400;500;600;700;800&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css" rel="stylesheet"/>

        <style>
            @page {
                size: A4;
                margin: 1.4cm;
            }

            body {
                margin: 0;
                font-size: 10pt;
                font-family: '{{ world_book.book_body_font }}';
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: '{{ world_book.book_heading_font }}';
            }

            h2 {
                margin-bottom: 0.3cm;
            }

            .chapter-text h3, .chapter-text h4, .chapter-text h5, .chapter-text h6 {
                margin-bottom: 0;
                padding-bottom: 0;
            }

            .chapter-text p {
                margin-top: 3mm;
            }


            blockquote {
                margin-right: 0;
                padding-right: 0;
                margin-left: 2em;
                padding-left: 1em;
                color: #555;
                border-left: 2px solid silver;
            }

            .chapter {
                page-break-before: always;
                margin: 0;
            }

            .page {
                page-break-before: always;
                margin: 0;
            }

            .title-page {
                background-image: url({{ world_book.book_title_image.path }});
                background-size: cover;
                margin: -2cm -1.4cm;
                width: 21.0cm;
                height: 30.7cm;
            }

            .title-page h1 {
                color: white;
                text-shadow: 8px 8px #0a0a0a;
                margin-top: 8cm;
                font-size: 42pt;
                text-align: center;
            }

            .title-page p.claim {
                font-family: '{{ world_book.book_title_font }}';
                font-size: 18pt;
                text-shadow: 8px 8px #0a0a0a;
                color: white;
                text-align: center;
            }

            .chapter-text {
                column-count: 2;
                column-gap: 1cm;
                text-align: justify;
                hyphens: auto;
            }

            .chapter-image {
                position: relative;
                height: 10cm;
                width: 21cm;
                margin: -1.4cm -1.4cm 1cm -1.4cm;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .chapter-text img {
                width: 9cm;
            }

            .text-danger {
                color: red;
            }

            .text-info {
                color: skyblue;
            }
        </style>
    </head>

    <body>
    {% include 'rulebook/book_title.html' %}

    {% for chapter in world_book.book.chapter_set.all %}
        <div class="chapter" id="{{ chapter.identifier }}">
            <div class="chapter-image" style="background-image: url({{ chapter.image.path }})">
                &nbsp;
            </div>
            <h2>{{ chapter.name }}</h2>
            <div class="chapter-text">
                {{ chapter.text|replace_book_variables:world_book.world|urpg_markup:False|resolve_rulebook_chapter_links:"pdf" }}
            </div>
        </div>
    {% endfor %}
    </body>
</html>
