{% load i18n characters_extras rules_extras %}

<div class="box combat-box">
  <h2>{% trans 'Combat' %}</h2>
  <table class="table">
    <tr>
      <td>
        <i class="fas fa-hand-rock text-success"></i> {% trans 'Weaponless' %}
      </td>
      <td class="text-end">
        {% trans 'Weaponless Attack' %} <span class="text-light">{{ object.weaponless_attack_dice }}</span> <i
              class="fas text-light fa-dice-five"></i>
      </td>
      <td class="text-end">
        {% if object.weaponless_pierceing > 0 %}
          {% trans 'Piercing' %} <span class="text-light">{{ object.weaponless_piercing }}</span>
        {% endif %}
      </td>
      <td class="text-end text-light">-</td>
      <td class="text-end text-light">
        1 {% trans "Meter" %}
      </td>
    </tr>


    {% for w in object.characterweapon_set.all %}
      {% with modified_keywords=w.modified_keywords %}
        <tr>
          <td>
            <i class="fas fa-hand-rock text-success"></i> {{ w.weapon }}
          </td>
          <td class="text-end">
            {% for am in w.attack_modes_with_values %}
              {{ am.0 }} <span class="text-light">{{ am.1 }}</span>
              <i class="fas text-light fa-dice-five"></i><br>
            {% endfor %}
          </td>
          <td class="text-end">
            {% for modified_keyword in modified_keywords.values %}
              {% if modified_keyword.show_in_summary %}
                {{ modified_keyword.name }} <span class="text-light">{{ modified_keyword.value }}</span><br>
              {% endif %}
            {% endfor %}
          </td>
          <td class="text-end">
            {% if w.has_capacity %}
              <span class="text-light">{{ w.capacity_available }}</span> /
              <span class="text-light">{{ modified_keywords.capacity.value }}</span>
            {% else %}
              <span class="text-light">-</span>
            {% endif %}
          </td>
          <td class="text-end">
            <span class="text-light">{{ modified_keywords.range_meter.value }} {% trans 'Meter' %}</span>
          </td>
        </tr>
      {% endwith %}
    {% endfor %}

    {% for i in object.characteritem_set.usable_in_combat %}
      <tr>
        <td>
          <i class="fas fa-bomb text-info"></i> <span class="text-muted"></span>{{ i.item }}
        </td>
        <td class="text-end">
          {% if i.item.skill %}
            {% character_skill_value object i.item.skill as skill_value %}
            {{ i.item.skill.name }} <span class="text-light">{{ skill_value }}</span>
            <i class="fas text-light fa-dice-five"></i>
          {% endif %}
        </td>
        <td class="text-end">
        </td>
        <td class="text-end">
          <span class="text-light">{{ i.quantity }}</span>
        </td>
        <td class="text-end">
        </td>
      </tr>
    {% endfor %}

    {% for s in object.characterspell_set.all %}
      <tr>
        <td>
          <i class="gi-lorc-fairy-wand text-danger"></i> {{ s.spell }}<br>
        </td>
        <td class="text-end">
          {% spell_type_attribute_dice_value s.character s.spell_type as dice %}
          {{ s.spell_type.reference_attribute.name }} <span class="text-light">{{ dice }}</span> <i
                class="fas fa-dice-five text-light"></i>
        </td>
        <td class="text-end">
          {% trans 'Power' %} <span class="text-light">{{ s.power }}</span><br>
          {% trans 'Actions' %} <span class="text-light">{{ s.actions }}</span>
        </td>
        <td class="text-end">
          {% for a in s.arcana_cost|to_range %} <i class="gi-lorc-fairy-wand text-muted"></i>{% endfor %}
        </td>
        <td class="text-end">
          <span class="text-light">{{ s.range }} {% trans 'Meter' %}</span>
        </td>
      </tr>
    {% endfor %}

    <tr>
      <td>
        <i class="fas fa-running text-warning"></i> {% trans "Evade" %}
      </td>
      <td class="text-end">
        <span class="text-light">{{ object.evasion }}</span> <i class="fas fa-dice-five text-light"></i>
      </td>
      <td colspan="3"></td>
    </tr>

    {% for t in object.templates_with_combat_rules.all %}
      <tr>
        <td>
          <i class="fas fa-graduation-cap text-primary"></i> <span
                class="text-muted"></span>{{ t.template.name }}
        </td>
        <td colspan="4" class="vertical-top">
          <span class="text-muted small">{{ t.template.rules|urpg_markup }}</span>
        </td>
      </tr>
    {% endfor %}

    <tr>
      <td>
        <i class="fas fa-running text-warning"></i> {% trans "Walk" %}
      </td>
      <td colspan="3">
                <span class="text-muted">
                    {% blocktrans %}
                      You can perform an action while walking. The minimum roll for this action is raised by 1.
                    {% endblocktrans %}
                </span>
      </td>
      <td class="text-end">
        <span class="text-light">{{ object.combat_walking_range }} {% trans 'Meter' %}</span>
      </td>
    </tr>

    <tr>
      <td>
        <i class="fas fa-running text-warning"></i> {% trans "Run" %}
      </td>
      <td colspan="3">
                <span class="text-muted">
                    {% blocktrans %}
                      You can't perform an action while running.
                    {% endblocktrans %}
                </span>
      </td>
      <td class="text-end">
        <span class="text-light">{{ object.combat_running_range }} {% trans 'Meter' %}</span>
      </td>
    </tr>

    <tr>
      <td>
        <i class="fas fa-running text-warning"></i> {% trans "Crawl" %}
      </td>
      <td colspan="3">
                <span class="text-muted">
                    {% blocktrans %}
                      Crawling is only possible while hunkered.
                    {% endblocktrans %}
                </span>
      </td>
      <td class="text-end">
        <span class="text-light">{{ object.combat_crawling_range }} {% trans 'Meter' %}</span>
      </td>
    </tr>

    <tr>
      <td>
        <i class="fas fa-user-shield text-warning"></i> {% trans "Hunker" %}
      </td>
      <td colspan="4">
                <span class="text-muted">
                {% blocktrans %}
                  Applies the "Hunkered" status effect. Hunkered characters have a 6+ cover and a
                  +1 minimum roll for physis, attacks and skills.
                {% endblocktrans %}
                </span>
      </td>
    </tr>

    <tr>
      <td>
        <i class="fas fa-bullseye text-warning"></i> {% trans "Aim" %}
      </td>
      <td colspan="4">
        <span class="text-muted">
          {% blocktrans %}
            Reduces the minimum roll for critical hits by 1 per action. This is not possible when using burst
            mode. The aim bonus is lost when the character is hit.
          {% endblocktrans %}
        </span>
      </td>
    </tr>
  </table>
</div>
