{% load rules_extras %}
{% load i18n characters_extras %}

<script>
    $(function () {
        $('.modal-body a.nav-link').first().addClass('active')
        $('.modal-body div.tab-pane').first().addClass('active')
    })
</script>


<div>
  <ul class="nav nav-tabs justify-content-center" role="tablist">
    {% for t in weapon_modification_types %}
      {% weaponmodification_type_valid_for_weapon t character_weapon.weapon as wmt %}
      {% if wmt %}
        <li class="{% if forloop.first %}active{% endif %} nav-item">
          <a class="nav-link" href="#i{{ t.id }}" aria-controls="home" role="tab"
             data-bs-toggle="tab">{{ t }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for t in weapon_modification_types.distinct %}
      {% weaponmodification_type_valid_for_weapon t character_weapon.weapon as wmt %}
      {% if wmt %}
        <div role="tabpanel" class="tab-pane {% if forloop.first %} active {% endif %}" id="i{{ t.id }}">
          <div class="column-container column-layout-2">
            {% for wm in t.weaponmodification_set.all|for_extensions:character.extensions %}
              {% if character_weapon.weapon.type in wm.available_for_weapon_types.all %}
                <div class="card mb-3">
                  <div class="card-header">
                    {{ wm }} {% if wm in character_weapon.modifications.all %}
                    <span class="small text-muted">{% trans '(equipped)' %}</span>{% endif %}
                  </div>
                  <div class="card-body">
                    {{ wm.description|urpg_markup }}
                    {{ wm.rules|urpg_markup }}

                    {% for wma in wm.weaponmodificationattributechange_set.all %}
                      {{ wma.get_attribute_display|capfirst }}: {{ wma.get_modifier_display }}
                      <br>
                    {% endfor %}
                    {% for wma in wm.weaponmodificationattributechange_set.all %}
                      {% if wma.status_effect %}
                        {{ wma.status_effect|capfirst }}
                        <i class="{{ wma.status_effect.fa_icon_class }}"></i>
                        {% color_value_span wma.status_effect_value 4 %}<br>
                      {% endif %}
                    {% endfor %}

                    {% if character.currency_map %}
                      {% with cmu=character.currency_map.currencymapunit_set.earliest %}
                        <br>
                        <i class="{{ cmu.fa_icon_class }} {{ cmu.color_class }} fa-fw"></i>
                        {% trans 'Price' %}:
                        {% color_value_span wm.price 1000 invert=True %}
                      {% endwith %}
                    {% endif %}

                    <form action="{% url 'characters:add_weapon_modification' pk=character.id weapon_modification_pk=wm.id character_weapon_pk=character_weapon.id %}"
                          class="float-end add-form" method="post">
                      {% csrf_token %}
                      <button class="btn btn-sm btn-primary float-end"
                              data-danger="{% trans 'Not possible' %}"
                              data-success="{% trans 'Added' %}">{% trans 'Add modification' %}</button>
                    </form>
                    {% if user.is_superuser %}
                      <a href="{% url 'admin:armory_weaponmodification_change' wm.id %}"
                         style="position: absolute; bottom: 2px; left: 2px; font-size: xx-small">admin</a>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
